.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;  /* 추가: 전체 컨테이너를 화면 위로 이동 */
}

.progress {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.progressBar {
  height: 5px;
  background-color: #4caf50;
  transform-origin: 50%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 800px;  /* 적절한 너비를 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}