.rank-group {
  .rank-box {
    fill: #333;
    stroke: #fff;
    rx: 5;
    ry: 5;
  }

  .rank-label {
    fill: #ffffff;
    text-anchor: start;
  }

  .rank-arrow {
    text-anchor: end;
  }

  &.green {
    fill: green;
  }

  &.red {
    fill: red;
  }

  &.gray {
    fill: gray;
  }
}
