@import "../../app.scss";

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }

    .jua-regular {
      font-family: "Jua", sans-serif;
      font-weight: 100;
      font-style: normal;
    }    
  }
  .jua-regular3 {
    font-family: "Jua", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size:23px;
  }  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center; /* 중앙 정렬 */
      gap: 20px; /* 간격 조정 */

      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }
  } 
  .controls {
    width: 100%;
    display: flex;
    justify-content: center; /* 왼쪽 정렬 */
    margin-bottom: 40px; /* 슬라이더와 버튼 사이의 간격 */
    gap: 10px;
  }
  .Controller {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -20px; /* 맨 위로부터의 간격 조정 */
    gap: 10px;

    .regiontitle{
      font-family: "Jua", sans-serif;
      font-size: medium;
      border: 1px solid #ccc;
      width: 250px;
      background-color: orange;
      color: white;
    }
    .region-checklist{
      font-family: "Jua", sans-serif;
      border: 1px solid #ccc;
      background-color: white;
      padding:5px;
      color: black;
      width: 100%;
      overflow-y: auto;
      margin-bottom: 10px;
      .checklist{
        color:black;
        height: 85%;
      }
    }
    .diseasetitle{
      font-family: "Jua", sans-serif;
      font-size: large;
      border: 1px solid #ccc;
      background-color: orange;
      height:30px;
      color: white;
      min-width: 100px;

    }

    .disease-subject{
      display:flex;
      min-width: 100px;
      flex-direction: row;
      width: 100%;
      background-color: white;
    }
    .disease-selector {
      font-family: "Jua", sans-serif;
      border: 1px solid #ccc;
      background-color: white;
      padding:5px;
      height: 200px;
      width: 300px;
      overflow-y: auto;
      flex-direction: column;
      .Input{
        height:15%;
      }
      .checklist{
        color:black;
        height: 85%;
      }
    }
    .corresponding-subjects{
      font-family: "Jua", sans-serif;
      border: 1px solid #ccc;
      background-color: white;
      color:black;
      height:100%;
      
    }
    
  }

  .text-container {
    margin-top: 160px;
    text-align: center;
  }
  .text-container2 {
    margin-top: 200px;
    text-align: center;
    font-size: 44px;
  }
  .jua-regular2 {
    font-family: "Jua", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
  }   
  .maps-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .map-wrapper {
      width: 45%;
    }
  }

  .map-container {
    width: 100%;
    max-height: 500px;
    position: relative;

    .leaflet-container {
      width: 100%;
      height: 90%;
    }
  }
}

.formula-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; // Adjust the gap between the formulas

  .explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:4px solid white;
    text-align: center;
    max-width: 1000px;

    img {
      transform: scale(0.8); // Scale the image to 80% of its original size
    }

    h1 {
      font-size: 34px; // Increase font size
      width: 90%; // Adjust width to fit the text content
    }
  }
}
